# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np
import pandas as pd
from scipy import stats

import numpy as np
import scipy.stats as st

import numpy as np
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [60]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [11]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [7]:
# Your code here:
pokemon[["Total"]].describe()

           Total
count  800.00000
mean   435.10250
std    119.96304
min    180.00000
25%    330.00000
50%    450.00000
75%    515.00000
max    780.00000

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [13]:
legendary = pokemon["Total"] [pokemon["Legendary"] == True]
legendary

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

In [14]:
not_legendary = pokemon["Total"] [pokemon["Legendary"] == False]
not_legendary

0      318
1      405
2      525
3      625
4      309
      ...
787    494
788    304
789    514
790    245
791    535
Name: Total, Length: 735, dtype: int64

In [21]:
t2, p2 = stats.ttest_ind(legendary,not_legendary,equal_var=False)
print("t = " + str(t2))
print("p = " + str(p2))

t = 25.8335743895517
p = 9.357954335957444e-47

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

#hipotesis nula es que son iguales las estadísticas
#como p es tanbajo, la rechazamos, es decir, no podemos afirmar que sena iguales. t nos viene a decir que los legendarios son mas altos que los no legendarios
#lo cual tiene sentido ya que en los no legendarios estamso cogiendos todos los niveles de evolución, incluso los niveles más bajos

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [24]:
# Your code here:

pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [44]:
# Your code here:

water = pokemon[pokemon["Type 1"] == "Water"] 

water_mean = water.Total.mean()
water_std = water.Total.std()

other = pokemon[pokemon["Type 1"] != "Water"] 

other_mean = other.Total.mean()
other_std = other.Total.std()

print("water:", water_mean, water_std)


print("other:",other_mean, other_std)

water: 430.45535714285717 113.1882660643146
other: 435.85901162790697 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [47]:
# Your code here:
water_total = water.Total
other_total = other.Total

t3, p3 = stats.ttest_ind(water_total,other_total,equal_var=True)
print("t = " + str(t3))
print("p = " + str(p3))

t = -0.4418547448849676
p = 0.6587140317488793

Write your conclusion below.

In [48]:
# Your conclusions here:

#p es mayor que 0,05 por lo que no podemos rechazar la hipótesis nula, es decir, no podemos rechazar que ambos sample provengan de la misma población

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [52]:
# Your code here:

from scipy.stats import ttest_rel

stats.ttest_rel(pokemon.Attack,pokemon.Defense,axis=0)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

# como el valor de p es muy bajo, rechazamos la hipótesis nula pues no podemos decir que los valores de attack y defense sean iguales
# t nos viene a decir que el ataque es superior a la defensa, aunque no por mucho.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [54]:
pokemon.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [62]:
# Your code here:

t4, p4 = stats.ttest_rel(pokemon["Sp. Atk"],pokemon["Sp. Def"])
print("t = " + str(t4))
print("p = " + str(p4))

t = 0.853986188453353
p = 0.3933685997548122

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

#el valor de p es alto por lo que no podemos rechazar la hipótesis nula, es decir, no podemos rechazar que sp attack y sp defense sean iguales

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [66]:
# Your code here:
stats.ttest_1samp(pokemon.Attack-pokemon.Defense, 0) 

#efectivamente se confirma que los valores son iguales que hacerlos por separado

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [67]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [70]:
# Your code here:

crosstab = pd.crosstab(pokemon.Legendary ,[pokemon["Type 1"] == "Water"])
crosstab

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [75]:
# Your code here:
from scipy.stats import chi2_contingency
chi2, p, dof, ex = chi2_contingency(crosstab)
chi2, p

(2.9429200762850503, 0.08625467249550949)

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:

# la hipotesis nula es que los pokemon de agua y los pokemon legendarios pertenecen a la misma población, es decir que son iguales, es decir, que no tienen relación.

# por tanto no podemos descartar que no tengan relación, por tando saber si el pokemon de agua podría tener relación (o no) con que sea legendario